<div class="content-top">
  <div class="item___ct-search">
    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
    <input class="input-search" type="text" placeholder="Buscar" />
  </div>
  <div class="item___ct--profile">
    <div class="item___ct-icons">
      <i class="fa-sharp fa-solid fa-bell"></i>
      <i class="fa-sharp fa-solid fa-gear"></i>
      <i class="fa-sharp fa-solid fa-moon" (click)="toggleDarkMode()"></i>
    </div>
    <p>Nicolas Betancur</p>
    <span class="profile">
      N
    </span>
  </div>
</div>