<div class="container-nav">
  <div class="c-btn">
    <button class="btn-nav">New Register</button>
  </div>
  <nav class="sidebar">
    <a href="#" class="nav-link">
      <i class="fa-solid fa-house-chimney"></i> Home
    </a>
    <a class="nav-link active active-top" routerLink="/" routerLinkActive="active">
      <i class="fa-solid fa-magnifying-glass"></i> Consult
    </a>
    <a class="nav-link" routerLink="../register" routerLinkActive="active">
      <i class="fa-sharp fa-solid fa-folder-open"></i> Register
    </a>
    <a href="#" class="nav-link">
      <i class="fa-sharp fa-solid fa-rotate-right"></i> Recent
    </a>
    <a href="#" class="nav-link">
      <i class="fa-sharp fa-solid fa-trash"></i> Trash
    </a>
  </nav>
  <div class="container-detail">
    <div class="item-detail">
      <h4>User</h4>
      <p>+50</p>
    </div>
    <div class="item-detail">
      <h4>post</h4>
      <p>+150</p>
    </div>
    <div class="item-detail">
      <h4>album</h4>
      <p>+80</p>
    </div>
    <div class="buttom__nav">
      <h4>Mas de la mitad de nuestra comunidad esta satisfecha <i class="fa-solid fa-users"></i>, te mostramos los datos
      </h4>
      <img class="porcent" src="../../assets/porcent.png" />
    </div>
  </div>
  <div class="item-final">
    <i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180"></i>
  </div>
</div>