.container-logo {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  gap: 0.3rem;
}

.img__logo {
  background-color: var(--primary);
  width: 70px;
  height: 70px;
  opacity: 0.9;
  padding: 0.3rem;
  border-radius: 0.4rem;
}

.title-img__logo {
  font-size: 1.4rem;
}

.title-modified {
  color: var(--primary);
}

.title-img__header:hover .title-modified {
  color: var(--text);
  transition: all 1s ease;
}